
nav {
	@apply fixed z-[9999] top-0 left-[-1000px] w-screen h-screen bg-white transition-all duration-300
	md:relative md:left-0 md:w-auto md:h-auto md:pt-2 md:bg-transparent md:float-right;

	&.active{
		@apply overflow-y-scroll left-0;
    ul{
      @apply py-2;
      li{
        @apply block border-b border-light p-4;
        ul{
          @apply p-0 pt-2;
          li{
            @apply p-0 border-none;
            a{
              @apply text-base px-1 py-2 border-light/80;
            }
            &:last-of-type a{
              border: none;
            }
          }
        }
        a{
          @apply text-xl;
        }
        &.has-sub-menu ul.active{
          display: block; height: auto; visibility: visible;
        }
      }
    }
	}
}

#mobileLogo{
  @apply p-2 block min-h-[70px] md:hidden;
}

#mobileOpen{
  @apply absolute top-3 right-3
  bg-white rounded-md p-2 inline-flex items-center justify-center text-gray-400
  md:hidden
  hover:text-primary hover:bg-gray-100
  focus:outline-none focus:ring-2 focus:ring-inset focus:ring-indigo-500;
}
#mobileOpen svg{
  @apply h-6 w-6;
  pointer-events: none;
}


#mobileClose{
  @apply absolute top-3 right-3
  bg-gray-200 rounded-md p-2 inline-flex items-center justify-center text-gray-400
  md:hidden
  hover:text-white hover:bg-gray-400
  focus:outline-none focus:ring-2 focus:ring-inset focus:ring-indigo-500;
}

#mobileClose svg{
  @apply h-6 w-6;
  pointer-events: none;
}


nav.active .mobile-toggle{
  @apply text-gray-600 float-right py-1 px-2;
  svg{
    pointer-events: none;
    width:18px;
		margin-right:0;
  }
  &.up{
    transform: rotate(180deg);
  }
}
