iframe{max-width: 100%;}

.row, .clearfix {
  @apply flow-root;
}

.center-img {
  display: block;
  margin: 0 auto;
}

.hidden {
  display: none !important;
}

.container {
  width: 100%;
  @apply px-4 mx-auto flow-root;
}

.w-full {
  width: 100%;
}

.block{
  display: block;
}

.rounded{
  @apply rounded-md;
}

@media (min-width: 480px){
  .container {
      max-width: 100%;
  }
}

@media (min-width: 640px) {
   .container {max-width: 100%;}
   .sm-hidden {display: none;}
}

@media (min-width: 768px) {
   .container {max-width: 100%;}
   .md-hidden {display: none;}
   .md-w-full {width: 100%;}
}

@media (min-width: 1024px) {
  .lg-hidden {display: none;}
  .container {max-width: 1010px;}
}

@media (min-width: 1280px) {
  .container {max-width: 1260px;}
}

@media (min-width: 1536px) {
  .container {max-width: 1400px;}
}
