details{
  @apply mb-4;
  p{
    @apply p-2 leading-relaxed text-sm;
  }
}
summary {
  list-style: none;
  @apply relative cursor-pointer block font-bold pb-2 mb-2 border-b border-dark/50;
}
summary::-webkit-details-marker {
  display: none;
}
summary:before {
  content: " ";
  display: block;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-chevron-down' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3E%3C/svg%3E");
  position: absolute;
  top: 6px;
  right: 6px;
  width: 16px;
  height: 16px;
}

details[open] > summary {
  @apply text-primary;
}
details[open] > summary:before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-chevron-up' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M7.646 4.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 5.707l-5.646 5.647a.5.5 0 0 1-.708-.708l6-6z'/%3E%3C/svg%3E");
}
