nav {

  a {
    @apply md:text-sm;
  }

  > ul{
  	@apply md:flex;

    > li{
    	@apply p-2 relative md:hover:bg-light;

      > a{
      	@apply p-1 text-primary transition-all duration-300 md:hover:text-primary-hover;
      }

      button svg{
        @apply inline-block mr-1 text-gray-400 w-3;
      }
    }
  }

}

/* Open Sub Nav */
nav > ul li:hover > ul,nav ul li ul.open{
  @apply visible;
}

/* Sub Nav */
nav ul li ul{
  @apply hidden w-full invisible p-0
	md:absolute md:w-[210px] md:z-[999] md:block md:bg-light;
  top:100%;
  left:0;

  li a{
  	@apply block py-2 px-3 text-dark border-b border-slate/20 hover:text-primary hover:bg-slate;
  }
}
