.form--narrow{
  @apply md:w-[400px] mx-auto;
}

.form-label{
  @apply inline-block px-1 pb-2 text-sm font-bold;
}

.form-control{
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-family: inherit;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  background-clip: padding-box;
  appearance: none;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  @apply block rounded bg-light border border-gray-300 text-gray-700 focus:outline-primary hover:border-gray-400;
}

input[readonly] {
  color: #aaa;
  cursor: not-allowed;
}

.form-check {
  @apply block py-2;
  min-height: 1.5rem;
}
.form-check-label{
  @apply inline-block px-1;
  font-size: 15px;
}

.form-check-input {
    width: 1em;
    height: 1em;
    margin-top: 0.1em;
    vertical-align: top;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.25);
    border-radius: 0.25em;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    appearance: none;
    transition: background-color .15s ease-in-out,
    background-position .15s ease-in-out,
    border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.form-check-input:checked {
    @apply bg-primary border-primary;
}

.form-check-input:checked[type=checkbox],
.form-check-input:checked[type=radio] {
    background-image: url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10l3 3l6-6'/%3e%3c/svg%3e);
}

.form-select {
  @apply rounded border border-gray-100 text-gray-700 bg-light focus:outline-primary hover:border-gray-400;
    display: block;
    width: 100%;
    padding: 0.375rem 1.75rem 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    vertical-align: middle;
    background-image: url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23212529' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e);
    background-repeat: no-repeat;
    background-position: right 0.75rem center;
    background-size: 16px 12px;
    appearance: none;
}

.form-group{
  @apply flex;
}
.form-group-input-wrapper{
  width: calc(100% - 30px);
}
.form-group-input{
  border-top-left-radius:  0;
  border-bottom-left-radius: 0;
  display:inline-block;
}
.form-group-label{
  @apply bg-primary text-white rounded;
  display:inline-block;
  width: 30px;
  padding: 5px 0;
  text-align: center;
  border-top-right-radius:  0;
  border-bottom-right-radius: 0;
}

.input-before{
  border-top-right-radius:  0;
  border-bottom-right-radius: 0;
  border-top-left-radius:  .25rem;
  border-bottom-left-radius: .25rem;
}
.label-after{
  border-top-right-radius:  .25rem;
  border-bottom-right-radius: .25rem;
  border-top-left-radius:  0;
  border-bottom-left-radius: 0;
}

/*
<div class="form-group">
   <div class="form-group-label">$</div>
   <div class="form-group-input-wrapper"><input type="number" step="0.01" id="price" name="price" class="form-control form-group-input" value="50.00"></div>
 </div>
*/

.form-one-line{
  @apply flex;
}

.form-one-line-input{
  width: calc(100% - 60px);
  display:inline-block;
  border-top-right-radius:  0;
  border-bottom-right-radius: 0;
}
.form-one-line-btn{
  border-top-left-radius:  0;
  border-bottom-left-radius: 0;
}
